<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" (click)="onSelect('recipe')">
          <a class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item" (click)="onSelect('shopping-list')">
          <a class="nav-link" href="#">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" ngbDropdown>
          <a href="#" class="nav-link" role="button" ngbDropdownToggle
            >Manage</a
          >
          <ul ngbDropdownMenu>
            <li ngbDropdownItem><a href="#">Save Data</a></li>
            <li ngbDropdownItem><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
