<div class="row">
  <div class="col-12">
    <img
      [src]="recipeDetailSelected.imagePath"
      alt="{{ recipeDetailSelected.name }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ recipeDetailSelected.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-primary" ngbDropdownToggle>
        Manage Recipe
      </button>
      <ul ngbDropdownMenu>
        <li ngbDropdownItem>
          <a (click)="onAddToShoppingList()" style="cursor: pointer"
            >To Shopping List</a
          >
        </li>
        <li ngbDropdownItem><a href="#">Edit Recipe</a></li>
        <li ngbDropdownItem><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">{{ recipeDetailSelected.description }}</div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipeDetailSelected.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
